@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Poppins:wght@200;300;500;600;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f4f8fb;
  display: flex;
}
header aside {
  width: 15%;
  height: 100%;
  background-color: #fff;
  padding: 15px 0px 15px 30px;
}
header section {
  position: relative;
  width: 85%;
  height: 100%;
}
header aside .logo {
  font-size: 30px;
  color: #1ca1f1;
}
header aside ul {
  list-style-type: none;
  margin-top: 50px;
}
header aside li {
  padding: 10px 0px;
  margin-top: 10px;
}
header aside ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: 0.2s linear;
}
header aside ul li a:hover {
  color: #1ca1f1;
}
header aside ul li a i {
  margin-right: 10px;
  font-size: 20px;
}
/* to make active 7th child */
header aside ul li:nth-child(7) {
  border-right: 3px solid #1ca1f1;
}
header aside ul li:nth-child(7) a {
  color: #1ca1f1;
}
header aside button {
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #1ca1f1;
  transition: 0.3s liner;
  cursor: pointer;
}
header aside button:hover {
  background-color: rgb(28, 162, 241, 0.5);
}
header section nav {
  width: 100%;
  height: 8%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
header section nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
header section nav ul li {
  padding: 3px 25px 3px 0px;
}
header section nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  transition: 0.3s linear;
}
header section nav ul li a:hover {
  color: gray;
}
header section nav .search-box {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fb;
  padding: 8px 15px;
  border-radius: 5px;
}
header section nav .search-box input {
  width: 90%;
  padding: 3px 15px;
  border: none;
  outline: none;
  font-size: 12px;
  background: none;
}
header section nav .search-box .bi {
  font-size: 14px;
}
header section nav .user {
  display: flex;
  align-items: center;
}
header section nav .user img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
header section nav .user h6 {
  color: #000;
  font-size: 11px;
}
header section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background: url(./images/img/bg1.png) no-repeat center center/cover;
  top: 8%;
  border-radius: 0px 0px 20px 0px;
  opacity: 0.9;
}
header section .profile_post_follow_bx {
  position: relative;
  top: 18%;
  width: 100%;
  height: 73%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end; 
}
header section .profile_post_follow_bx .profile_bx {
  width: 250px;
  height: auto;
}
header section .profile_post_follow_bx .profile_bx .profile_card {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.2);
  padding: 15px 10px 0px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header section .profile_post_follow_bx .profile_bx .profile_card .blue_tick_pc {
  position: relative;
  top: 10px;
  left: 10px;
  width: 15px;
}
header section .profile_post_follow_bx .profile_bx .profile_card .profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header section .profile_post_follow_bx .profile_bx .profile_card h5 {
  font-weight: 600;
  margin-top: 10px;
}
header section .profile_post_follow_bx .profile_bx .profile_card h6 {
  color: rgb(0, 0, 0, 0.3);
  font-size: 10px;
  padding: 2px 0px;
}
header section .profile_post_follow_bx .profile_bx .profile_card address {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
header section .profile_post_follow_bx .profile_bx .profile_card address a {
  text-decoration: none;
  color: #000;
  font-size: 11px;
  font-style: normal;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .profile_card
  address
  a:nth-child(2) {
  margin-left: 10px;
}
header section .profile_post_follow_bx .profile_bx .profile_card p {
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  padding: 0px 5px;
  color: rgb(0, 0, 0, 0.8);
}
header section .profile_post_follow_bx .profile_bx .profile_card .data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .profile_card
  .data
  .data_card {
  width: 33.33%;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .profile_card
  .data
  .data_card:nth-child(2) {
  border-left: 1px solid rgb(0, 0, 0, 0.1);
  border-right: 1px solid rgb(0, 0, 0, 0.1);
}
header section .profile_post_follow_bx .profile_bx .profile_card p,
h4 {
  text-align: center;
  font-size: 10px;
  margin-top: 0px;
  color: rgb(0, 0, 0, 0.4);
}
header section .profile_post_follow_bx .profile_bx .profile_card h4 {
  font-size: 12px;
  padding: 3px 0px 7px 0px;
  color: #000;
}
header section .profile_post_follow_bx .profile_bx .activity_bx {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx {
  width: 115px;
  height: 90px;
  border: 2px solid rgb(213, 218, 222, 0.5);
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s linear;
  cursor: pointer;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .activity_card_bx:nth-child(1) {
  background: #fff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
  border: 1px solid #fff;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx i,
h6 {
  font-size: 20px;
  color: #d5dade;
  padding-top: 10px;
  transition: 0.3s linear;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx h6 {
  font-size: 11px;
  color: rgb(0, 0, 0, 0.6);
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:hover {
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.1);
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:hover h6 {
  color: #1ca1f1;
}
header section .profile_post_follow_bx .profile_bx .activity_card_bx:hover i {
  color: #1ca1f1;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .activity_card_bx:nth-child(1)
  h6 {
  color: #1ca1f1;
}
header
  section
  .profile_post_follow_bx
  .profile_bx
  .activity_card_bx:nth-child(1)
  i {
  color: #1ca1f1;
}
header section .profile_post_follow_bx .post_follow_bx{
    height: auto;
    width: auto;
    border: 1px solid #000;
     margin-left: 20px;
     display: flex;

}
header section .profile_post_follow_bx .post_follow_bx .post{
width: 500px;
height: 100%;
background:#fff;
box-shadow: 0px 0px 20px rgb(0, 0, 0,0.1);
border-radius: 8px;

}
header section .profile_post_follow_bx .post_follow_bx .follow_bx{
   width: 20px;
   height: auto;
   margin-left: 15px;
    
    }